version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "4000:4000"
    container_name: todo-backend
    networks:
      - todo-network

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    container_name: todo-frontend
    networks:
      - todo-network

networks:
  todo-network:
    driver: bridge
