services:
  web:
    build: .
    ports:
      - "4000:3001"
    depends_on:
      - fluent-bit
    logging:
      driver: "fluentd"
      options:
        fluentd-address: 0.0.0.0:24224
        fluentd-async-connect: "true"
    networks:
      - hello-fluent-bit

  fluent-bit:
    image: fluent/fluent-bit:latest
    command: /fluent-bit/bin/fluent-bit --config=/fluent-bit/etc/fluent-bit.yml
    ports:
      - "24224:24224"
      # - "24224:24224/udp"
    volumes:
      - ./fluent-bit.yml:/fluent-bit/etc/fluent-bit.yml

networks:
  hello-fluent-bit:
